{% extends "layout.html" %}

{% block content %}
    <h1>Recipe Results by <a href="{{ url_for('account') }}">Ingredients</a></h1>
    <p>Note: If you have no ingredients in your pantry, the recipes will be random and weird. :)</p>
	<div class="row">
		{% for recipe in recipes %}
		<div class="col sm-3 md-3 lg-3">
			<div class="card" style="width: 18rem;">
				<img src={{recipe['recipe']['image']}} class="card-img-top" alt="image of food">
				<div class="card-body">
					<h5 class="card-title">{{recipe['recipe']['label']}}</h5>
				</div>
				<div class="card-body">
					<a href="{{ recipe['recipe']['url'] }}" target="_blank" class="card-link">Recipe</a>
				</div>
			</div>
		</div>
		{% endfor %}
</div>
{% endblock content %}